.banner{width: 100%;
margin: 45px auto 60px auto;
position: relative;
z-index: -1;
height: 80vh;
overflow: hidden;}
.banner img{height: 80vh;
width: 100%;
position: absolute;
transform: scale(1.15);
border-image-slice: 20%;
}
.banner img:nth-of-type(2), .banner img:nth-of-type(3), .banner img:nth-of-type(4), .banner img:nth-of-type(5){
    opacity: 0;
}
.banner .grey{
    background: #cccccc;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
}
.banner h1{position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    font-size: 2rem;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-family:'oswald';
    opacity: 0;
    text-shadow: 1px 1px 2px black
}

@keyframes banner{
    0%{opacity: 0;}
    3%{opacity: 1;}
    18%{opacity: 1;
    transform: scale(1)}
    24%{opacity: 0;}
    100%{opacity: 0;}
}




@keyframes h1{
    0%{opacity: 0;}
    4%{opacity: 1;}
    18%{opacity: 1;
    transform: translate(-50%, -50%) scale(1.1)
}
    20%{opacity: 0;}
    100%{opacity: 0;}
    }
.banner img:nth-of-type(1){
    animation: banner 25s linear infinite;
}
.banner h1:nth-of-type(1){animation: h1 25s linear infinite;
}

.banner img:nth-of-type(2){
    animation: banner 25s 5s linear infinite;
}
.banner h1:nth-of-type(2){animation: h1 25s 5s linear infinite;
}
.banner img:nth-of-type(3){
    animation: banner 25s 10s linear infinite;
}
.banner h1:nth-of-type(3){animation: h1 25s 10s linear infinite;
}
.banner img:nth-of-type(4){
    animation: banner 25s 15s linear infinite;
}
.banner h1:nth-of-type(4){animation: h1 25s 15s linear infinite;
}
.banner img:nth-of-type(5){
    animation: banner 25s 20s linear infinite;
}
.banner h1:nth-of-type(5){animation: h1 25s 20s linear infinite;
}

button.onBanner{font-family: 'oswald';
color: white;
text-decoration: none;
background-color: transparent;
border: 4px solid #03a2da;
z-index: 1;
position: absolute;
bottom: 15%;
left: 50%;
transform: translateX(-50%);
font-size: 1.8rem;
border-radius: 20%;
text-shadow: 1px 1px 2px black;
transition: .4s;
}
button.onBanner a{text-decoration: none;
    display: block;
color: white;
padding: 3px 8px;}

button.onBanner:hover{
    background-color:#03a2da;
    cursor: pointer;
    border: 4px solid white
}